<div class="inner-Bshadow" layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back" ng-click="clearInterval()" style="padding-top: 10px;">
                <ng-md-icon icon="arrow_back" style="fill:white" size="20"></ng-md-icon>
            </md-button>
            <h2 flex md-truncate>HANG TIME</h2>
            <!--<div>-->
            <!--<img src="./images/h-ball.png" height="36px" alt="" />-->
            <!--</div>-->
            <h2 ng-hide="quarterbackTrainer.batteryLevel == undefined" style="padding-top: 2px"> &nbsp;{{
                quarterbackTrainer.batteryLevel }} %</h2>
            <div id="battImg" layout="row" layout-align="left left" ng-hide="quarterbackTrainer.batteryLevel == undefined" style="margin-right: 0; padding-right: 0">
                <div id="" class="" layout="row" layout-align="center center" style="margin-right: 0; padding-right: 0">
                    <ng-md-icon ng-if="quarterbackTrainer.batteryLevel == undefined" icon="battery_unknown" style="fill: white" size="30"></ng-md-icon>
                    <ng-md-icon ng-if="quarterbackTrainer.batteryLevel>95" icon="battery_full" style="fill: white" size="30"></ng-md-icon>
                    <ng-md-icon ng-if="quarterbackTrainer.batteryLevel<=95 && quarterbackTrainer.batteryLevel>85" icon="battery_90" style="fill: white" size="30"></ng-md-icon>
                    <ng-md-icon ng-if="quarterbackTrainer.batteryLevel<=85 && quarterbackTrainer.batteryLevel>75" icon="battery_80" style="fill: white" size="30"></ng-md-icon>
                    <ng-md-icon ng-if="quarterbackTrainer.batteryLevel<=75 && quarterbackTrainer.batteryLevel>55" icon="battery_60" style="fill: white" size="30"></ng-md-icon>
                    <ng-md-icon ng-if="quarterbackTrainer.batteryLevel<=55 && quarterbackTrainer.batteryLevel>35" icon="battery_50" style="fill: white" size="30"></ng-md-icon>
                    <ng-md-icon ng-if="quarterbackTrainer.batteryLevel<=35 && quarterbackTrainer.batteryLevel>25" icon="battery_30" style="fill: white" size="30"></ng-md-icon>
                    <ng-md-icon ng-if="quarterbackTrainer.batteryLevel<=25 && quarterbackTrainer.batteryLevel>15" icon="battery_20" style="fill: white" size="30"></ng-md-icon>
                    <ng-md-icon ng-if="quarterbackTrainer.batteryLevel<=15" icon="battery_alert" style="fill: white" size="30"></ng-md-icon>

                </div>

            </div>
        </div>
    </md-toolbar>
    <md-content>
        <div flex="100" layout="row" layout-wrap>
            <div layout="row" layout-align="center start"  flex="50" flex-xs="100" class="p-15">
                <div class="time-score" flex="100">
                    <h3 style="color:white">Last Score</h3>
                    <h1 ng-show="lastTime !=undefined">{{lastTime}}s</h1>
                    <h1 ng-show="lastTime ==undefined">&nbsp;</h1>
                    <h3 style="color:white; margin-top: 40px">Waiting...</h3>
                </div>
            </div>
            <div layout="column" flex="50" flex-xs="100" class="leaderBoard-list">
                <div class="LBHD">LEADERBOARD
                </div>
                <div class="LBSBHD">
                    <div flex="100" layout="row" layout-align="space-between center">
                        <div class="no" flex="1"></div>
                        <div flex>Name</div>
                        <div flex="23" style="text-align: right">Score</div>
                        <div flex="45" style="text-align: right">Played</div>
                    </div>
                </div>
                <md-list flex >
                    <md-list-item ng-repeat="s in scores |limitTo:5 track by $index">
                        <div flex="100" layout="row" layout-align="space-between center">

                            <div class="no" flex="1">{{$index+1}}</div>

                            <div flex ng-if="$index+1 != currentScore">
                                <div>{{s.name}}</div>
                            </div>
                            <div flex ng-if="$index+1 == currentScore">
                                <div style="background-color: #0A3B7A; color: white">{{s.name}}</div>
                            </div>
                            <div flex="23" class="score-t" style="text-align: right; font-size: 13px">{{ s.score }} s</div>

                            <div flex="45" class="score-t" style="text-align: right; font-size: 13px">{{  s.timestamp | date: 'MM-dd | hh:mm:ss a' }} </div>
                        </div>
                    </md-list-item>
                </md-list>
                <md-dialog-content style="margin-top: 50px; padding-bottom: 20px" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="clearScores()" ng-if="scores.length != 0">
                        Clear scores
                    </md-button>
                </md-dialog-content>
            </div>
        </div>
    </md-content>

</div>
